<mat-toolbar>
  <div class="container">
    <a routerLink="/" id="smallLogo">
      <img src="./assets/images/pokemoon.svg" class="pokemoonLogo" alt="Pokemoon Logo">
    </a>
    <ul class="translations">
      <li (click)="setLang('pt')">{{'PT_LANG'| translate}}</li>
      <li (click)="setLang('en')">{{'EN_LANG'| translate}}</li>
    </ul>
  </div>
</mat-toolbar>


<ng-container *ngIf="card">
  <div class="container">
    <div class="row">
      <div class="col-md-12 avatarContainer">
        <img class="avatar" [src]="card.images.large" alt="">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{card.name}}</h1>
        <mat-list>
          <ng-container *ngIf="card && card.name">
            <div mat-subheader>{{'NAME_NAME'| translate}}</div>
            <mat-list-item>
              <mat-icon mat-list-icon>badge</mat-icon>
              <div mat-line>{{card.name}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="card && card.id">
            <div mat-subheader>{{'IDENTIFICATION_NUMBER'| translate}}</div>
            <mat-list-item>
              <mat-icon mat-list-icon>perm_identity</mat-icon>
              <div mat-line>{{card.id}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="card && card.types && card.types.length>0">
            <div mat-subheader>{{'TYPES_NAME'| translate}}</div>
            <mat-list-item *ngFor="let type  of card.types ">
              <mat-icon mat-list-icon>border_clear</mat-icon>
              <div mat-line>{{type}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="card && card.resistances && card.resistances.length>0">
            <div mat-subheader>{{'RESISTANCE_NAME'| translate}}</div>
            <mat-list-item *ngFor="let resistance  of card.resistances">
              <mat-icon mat-list-icon>thumb_up_alt</mat-icon>
              <div mat-line>{{resistance.type}}</div>
              <div mat-line>{{resistance.value}} </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="card && card.attacks && card.attacks.length>0">
            <div mat-subheader>{{'ATTACKS_NAME'| translate}}</div>
            <mat-list-item *ngFor="let attack  of card.attacks ">
              <mat-icon mat-list-icon>bolt</mat-icon>
              <div mat-line>
                <a (click)="openDetailsModal(attack)">
                  {{attack.name}}
                </a>
                <a (click)="openDetailsModal(attack)">
                  <button mat-icon-button disabled aria-label=" icon button with a open in new tab icon" id="open_in_new">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </a>
              </div>
              <div mat-line>{{'DAMAGE_NAME' | translate}} {{attack.damage}} </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
          <ng-container *ngIf="card && card.weaknesses && card.weaknesses.length >0">
            <div mat-subheader>{{'WEAKNESSES_NAME' | translate}}</div>
            <mat-list-item *ngFor="let weakness of card.weaknesses">
              <mat-icon mat-list-icon>thumb_down_alt</mat-icon>
              <div mat-line>{{weakness.type}}</div>
              <div mat-line> {{weakness.value}} </div>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>
    </div>
  </div>

</ng-container>
