<mat-toolbar>
  <div class="container">
    <ul class="translations">
      <li (click)="setLang('pt')">{{'PT_LANG'| translate}}</li>
      <li (click)="setLang('en')">{{'EN_LANG'| translate}}</li>
    </ul>
  </div>
</mat-toolbar>
<div class="container" [hidden]='isDesktopDevice?true:false'>
  <div class="row">
    <div class="col-md-4 offset-md-4 col-8 offset-2">
      <div class="logo">
        <img src="/assets/images/pokemoon.svg" alt="Pokemoon logo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="bar">
        <input class="searchbar" id="searchbarMobile" type="text" title="Search" (keyup.enter)=" getCards(0)" #searchbarMobile>
        <mat-icon mat-mini-fab aria-hidden="false" (click)="getCards(0)" aria-label="Seach icon" [color]="'warn'">search</mat-icon>
      </div>
    </div>
  </div>
  <ngb-carousel *ngIf="cards && cards.length >0" [showNavigationArrows]="true">
    <ng-template ngbSlide *ngFor="let card of cards">
      <app-card-box [card]="card" [isLoading]="card.loading?card.loading:false">
      </app-card-box>
    </ng-template>
  </ngb-carousel>
</div>
<div class="container" [hidden]='isDesktopDevice?false:true'>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="logo">
        <img src="/assets/images/pokemoon.svg" alt="Pokemoon logo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="bar">
        <input class="searchbar" id="searchbarDesktop" type="text" title="Search" (keyup.enter)=" getCards(0)" #searchbarDesktop>
      </div>
      <div class="buttons">
        <button class="button" type="button" (click)="getCards(0)">{{'POKEMON_SEARCH_BUTTON' | translate}}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let card of cards">
      <app-card-box [card]="card" [isLoading]="card.loading?card.loading:false">
      </app-card-box>
    </div>
    <div class="col-md-6 offset-md-3 notFoundresults" *ngIf="cards.length<=0">
      <h2>{{'NO_RESULT_FOUND'|translate}}</h2>
      <img src="./assets/images/sad_pikachu.png" alt="Pikachu image">
    </div>
  </div>
  <app-pagination *ngIf="cards.length>0" [currentPage]="currentPage" [totalCount]="totalCount" (pageChanged)="getCards($event.page)">
  </app-pagination>
</div>
