<div class="container" [hidden]='isDesktopDevice?true:false'>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="logo">
        <img src="/assets/images/pokemoon.svg" alt="Pokemoon logo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="bar">
        <input class="searchbar" id="searchbar" type="text" title="Search" (keyup.enter)=" getCards(0)" #searchbarMobile>
      </div>
    </div>
  </div>
  <ngb-carousel *ngIf="cards && cards.length >0" [showNavigationArrows]="true">
    <ng-template ngbSlide *ngFor="let card of cards">
      <app-card-box [card]="card" [isLoading]="card.loading?card.loading:false">
      </app-card-box>
    </ng-template>
  </ngb-carousel>
</div>

<div class="container" [hidden]='isDesktopDevice?false:true'>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="logo">
        <img src="/assets/images/pokemoon.svg" alt="Pokemoon logo">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="bar">
        <input class="searchbar" id="searchbar" type="text" title="Search" (keyup.enter)=" getCards(0)" #searchbarDesktop>
      </div>
      <div class="buttons">
        <button class="button" type="button" (click)="getCards(0)">{{'POKEMON_SEARCH_BUTTON' | translate}}</button>
        <button class="button" type="button">{{'POKEMON_LUCKY_BUTTON' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let card of cards">
      <app-card-box [card]="card" [isLoading]="card.loading?card.loading:false">
      </app-card-box>
    </div>
  </div>
  <app-pagination [currentPage]="currentPage" [totalCount]="totalCount" (pageChanged)="getCards($event.page)">
  </app-pagination>
</div>
